@model ARIBApp.Core.Contracts.EmployeeDTO
@{
    ViewData["Title"] = "Edit Employee";
    Layout = "_EmployeeLayout";
}

<div id="edit-form-container">
    @await Html.PartialAsync("_EditForm", Model)
</div>